extends layout

block content
    .w3-container.w3-padding-16
        h1.w3-bar
            .w3-bar-item.w3-left
                img(src="/images/diary.png", style="height:50px;" )
                span  O Meu Diário
            a.w3-bar-item.w3-right.w3-hover-text-blue(href="/",, style="text-decoration: none;")
                img(src="/images/attach_file.png", style="height:50px;" )
                span  Adicionar Item
            w3-conte
        p
        .w3-content.w3-padding-32.w3-container.w3-card.w3-white.w3-round
            h1 olaaa
            h6 10/09/2022
        pr
        .w3-content.w3-padding-32.w3-container.w3-card.w3-white.w3-round
            h1 olaaa
            h6 10/09/202
        pr
        .w3-content.w3-padding-32.w3-container.w3-card.w3-white.w3-round
            h1 olaaa
            h6 10/09/2022
        pr