extends layout

block content
    .w3-container.w3-padding-16
        h1.w3-bar
            .w3-bar-item.w3-left
                img(src="/images/users.png", style="height:50px;" )
                span  Utilizadores
            a.w3-bar-item.w3-right.w3-hover-text-blue(href="/",, style="text-decoration: none;")
                img(src="/images/add.png", style="height:50px;" )
                span  Adicionar Utilizador
        p
        table.w3-table-all
            tr.w3-light-blue.w3-text-black
                th Username
                th Página
                th Editar
                th Remover
            